<div class="container">
	<% if !current_user %>
	  <div class="row">
	  	<div class="main-content">
	  		<div>
	  			<h1 class="title">
	  				Campus Books
	  			</h1>
	  			<br />
	  			<p class="tagline">
	  				&nbsp;&nbsp;Online marketplace to buy/sell used books within SRM University.
	  			</p>
	  		</div>
	  	</div>
	  	<div class="login">
	  		<%= form_tag('sessions/set') do -%>
	  		  <%= text_field_tag 'reg_no', nil, :placeholder => 'Enter your registration no.', :autocomplete => 'off' %>
	  		  <%= button_tag '<i class="icon-facebook-sign" style="font-size:23px"></i>&nbsp;&nbsp;&nbsp;Sign in with Facebook'.html_safe, :class => 'btn btn-large btn-inverse fb', :id => 'sign_in' %>
	  		<% end -%>
	  	</div>
	  </div>
	<% else %>
	  
	<% end %>
</div>
