<h2>Sell</h2>
<%= link_to 'Add Book', new_book_path %>

<h3>
	My Books
</h3>
<% @mybooks.each do |mybook| %>
<div>
	<h6>
		<%= link_to mybook.title, book_path(mybook) %>
	</h6>
	<br />
</div>
<% end %>

<hr />
<h3>
	Books
</h3>
<hr />
<% @books.each do |book| %>
<div>
	<h4>
		<%= book.title %>
	</h4>
</div>
<% end %>