<%= form_for(@response,:url => '' + @query.id + '/responses') do |f| %>
    <div>
		<%= f.text_area :body, :cols => 100, :rows => 5, :class => 'span10', :placeholder => 'Type a message here..' %>  	
	</div>
  	<div class="form-actions clearfix">
  	  <%= button_tag(type: 'submit', class: "btn btn-success green ") do %>
  	   <i class="icon-ok icon-white"></i> Send
  	  <% end %>
  	  <%= button_tag(type: 'reset', class: "btn white ") do %>
  	   <i class="icon-refresh icon-white" style="padding:2px"></i> Reset
  	  <% end %>
  	</div>
<% end %>