.small.green.pull-right {
    text-decoration:none;
    color:white;
    font-size:14px;
    right:50px;
    bottom:60px;
}

.well h4 a
{
	text-decoration: none;
}

.well {
	// height: 217px;
}

.actions {
	padding-top: 60px;
	margin-left: 15px;
}